{%extends "Clientes/base.html"%}
{%load static%}

{%block links%} 
    <link href="{%static 'Clientes/css/index.css'%}" rel="stylesheet">
{%endblock%}

{%block titulo%} Inicio {%endblock titulo%}
{%block usuario_nombre%} {{usuario_nombre}} {%endblock usuario_nombre%}

{%block content%}
    <section class="main-section">
        <h1>Mi Saldo</h1>
        <div class="balance mb-5">
            <h2>AR$ 10.000,00</h2>
            <a href="#"><i class="bi bi-eye"></i></a>
        </div>

        <div class="container pb-5">
            <h2 class="actions-title">Acciones Rápidas</h2>
            <div class="row actions-container">
                <div class="col-6 col-sm-4 col-lg-2 p-2">
                    <a href="#">
                        <div class="action">
                            <img src="{%static 'Clientes/img/transferirIcon.svg'%}" alt="icono" />
                            <p class="action-name">Transferir</p>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-lg-2 p-2">
                    <a href="#">
                        <div class="action">
                            <img src="{%static 'Clientes/img/depositarIcon.svg'%}" alt="icono" />
                            <p class="action-name">Depositar</p>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-lg-2 p-2">
                    <a href="#">
                        <div class="action">
                            <img src="{%static 'Clientes/img/pagarIcon.svg'%}" alt="icono" />
                            <p class="action-name">Pagar</p>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-lg-2 p-2">
                    <a href="#">
                        <div class="action">
                            <img src="{%static 'Clientes/img/prestamoIcon.svg'%}" alt="icono" />
                            <p class="action-name">Préstamos</p>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-lg-2 p-2">
                    <a href="#">
                        <div class="action">
                            <img src="{%static 'Clientes/img/invertirIcon.svg'%}" alt="icono" />
                            <p class="action-name">Invertir</p>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-lg-2 p-2">
                    <a href="#">
                        <div class="action">
                            <img src="{%static 'Clientes/img/masIcon.svg'%}" alt="icono" />
                            <p class="action-name">Ver más</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="information-section container-fluid">
        <!--Sección COTIZACIÓN DOLAR-->
        <div class="row">
            <div class="col-12">
                <div class="home-card">
                    <h2 class="home-card-title">Cotización Dolar</h2>
                    <div class="container-fluid dolar-container p-4 d-flex flex-wrap justify-content-center overflow-auto" id="dolar">
                        <!-- Aquí van las cards -->
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="home-card">
                    <h2 class="home-card-title">Tu última actividad</h2>
                    <div class="table-container">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Descripción</th>
                                    <th scope="col">Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Mar 08 2022</td>
                                    <td>Pedro Jesus Olmos</td>
                                    <td class="value-increase">+$1.000,00</td>
                                </tr>
                                <tr>
                                    <td>Mar 08 2022</td>
                                    <td>Lourdes Davila</td>
                                    <td class="value-decrease">-$300,00</td>
                                </tr>
                                <tr>
                                    <td>Mar 08 2022</td>
                                    <td>Juan Pérez</td>
                                    <td class="value-increase">+$400,00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="home-card-button-container">
                        <a href="#" class="btn btn-primary">Ver Más <i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div id="cards-card" class="home-card">
                    <h2 class="home-card-title">Tarjetas</h2>
                    <div class="cards-container container-fluid d-flex align-items-center flex-column">
                        <img class="img-fluid p-3" src="{%static 'Clientes/img/VisaCard.svg'%}" alt="Tarjeta VISA" />
                        <img class="img-fluid p-3" src="{%static 'Clientes/img/MasterCard2.svg'%}" alt="Tarjeta Mastercard" />
                    </div>
                    <div class="home-card-button-container mt-4">
                        <a href="#" class="btn btn-primary">Ver Más <i class="bi bi-chevron-right"></i></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{%endblock content%}



{%block scripts%}
    <script src="{%static 'Clientes/js/index.js'%}"></script>
{%endblock scripts%}