
{%extends "Clientes/base.html"%}
{%load static%}
{%block titulo%} Formulario {%endblock titulo%}
{%block usuario_nombre%} {{usuario_nombre}} {%endblock usuario_nombre%}
{%block links%} <link rel="stylesheet" href="{%static 'Clientes/css/index.css'%}"> 
<link rel="stylesheet" href="{%static 'Prestamos/css/formulario.css'%}">
{%endblock links%}
{%block content%}
<form action="" method="POST"> {%csrf_token%}
<div class="container Formulario">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title  text-center">Pide un préstamo</h5>
      <p class="card-text  text-center">Obtén un préstamo en el primer intento, ahórrate problemas, dinero y tiempo</p>
        <div class="">{{prestamo_form.as_p}}</table>
    </div>
    <div class="card-footer">
      <input type="submit" class="btn btn-primary" value="Pedir">
    </div>
  </div>
</div>
</form>
{%endblock content%}
