{%extends "Clientes/base.html"%}
{%load static%}
{%block titulo%} Prestamos {%endblock titulo%}
{%block usuario_nombre%} {{usuario_nombre}} {%endblock usuario_nombre%}
{%block links%} <link rel="stylesheet" href="{%static 'Clientes/css/index.css'%}"> {%endblock links%}
{%block content%}


{%for prestamo in prestamos%}
    <p>{{prestamo.get_loan_type_display}}</p>
    <p>{{prestamo.loan_date}}</p>
    <p>{{prestamo.monto_con_formato}}</p>
    
{%endfor%}
<a class="btn btn-primary" href="{%url 'Formularios' %}">Pedir prestamo</a>
{%endblock content%}